body {
  margin: 0;
  background-color: #8263abba;

  font-family: system-ui;
}

.container {
  margin-bottom: 15px;
  margin-top: 4vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 1390px;
}
table {
  margin-bottom: 27px;
  text-align: center;
  border-radius: 27px;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: wheat;
}

td {
  padding-left: 0;
  padding-right: 0;
  font-weight: 500;
}

.div-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-add-btn {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: #55608f;
  display: flex;
  gap: 22px;
  align-items: center;
  max-width: 306px;
  justify-content: center;
  margin-bottom: 30px;
}

.h3-add-stu {
  color: wheat;
  font-family: system-ui;
}

th {
  padding: 5px;
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}

#t-body {
  margin-bottom: 24px;
}

#input-search {
  padding-left: 10px;
  border: none;
  height: 27px;
  margin-left: 9px;
  border-radius: 7px;
  width: 312px;
  outline-offset: -50px;
}

.h4-input {
  color: wheat;
  margin-left: 20px;
}

.b-search {
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: #55608f;
  gap: 5px;
  display: flex;
  max-width: 685px;
  align-items: center;
}

.div-button {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.div-show-image {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.ta-button {
  margin-right: 5px;
  width: 70px;
  border-radius: 26px;
  border: none;
  height: 29px;
  background: wheat;
}
.change-button {
  width: fit-content !important;
}
.site-header {
  width: 100%;
  background-color: #6a76aa;
  margin-bottom: 60px;
}
.Header-div {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 65px;
  align-items: center;
  max-width: 1390px;
}

.SiteHeader-div {
  margin-right: 21px;
  display: flex;
  gap: 50px;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 19px;
  float: right;
}

.img-school {
  float: left;
  margin-left: 100px;
  width: 60px;
}

.Link-to-Page {
  color: wheat;
  text-decoration: underline;
  text-decoration: none;
}

.Link-to-Page:hover {
  color: black;
}

button {
  cursor: pointer;
}

.div-ImageForm {
  margin-bottom: 20px;
  margin-right: 53px;
}
.edit-div-page {
  margin-bottom: 20px;
}
.div-edit {
  padding-left: 10px;
  gap: 20%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 71px;
  color: wheat;
}

.div-add {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding-bottom: 71px;
  padding-top: 71px;
  color: wheat;
  margin-right: 50px;
  margin-left: 50px;
  gap: 50px;
}
.div-buttons {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.add-div-page,
.edit-div-page {
  padding-top: 50px;
  background-color: #6a76aa;
  border-radius: 20px;
  margin-right: 163px;
  margin-left: 163px;
}

.add-div-page {
  align-items: center;
  align-content: center;
  margin-bottom: 30px;
}
.div-heading {
  text-align: center;
  font-size: 24px;
  color: wheat;
  margin: 0 auto;
}

.div-input-add,
.div-input-edit {
  width: 30%;
  margin-right: 20px;
}
.div-input-edit {
  margin-bottom: 36px;
}

.input-add,
.input-edit {
  width: 100%;
  border-radius: 10px;
  height: 27px;
  outline: 0;
}

.studend-img {
  height: 170px;
  width: 300px;
}

.ta-button,
.image {
  height: 50px;
}

#ta-button-add {
  height: 35px !important;
}

.HelperText {
  color: rgb(166, 7, 7);
  font-size: 11px;
  margin-left: 3px;
}

.div-Paging-table {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.div-buttons-edit {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.div-from-marks-page {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.div-from-marks {
  width: 476px;
  background-color: #55608f;
  border-radius: 19px;
}

.div-input-marks {
  padding-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.div-input-mark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  color: wheat;
  margin-bottom: 20px;
}

.input-mark {
  width: 200px;
}

.div-button-avg {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-bottom: 20px;
}

.mark-button,
.mark-button-home-page {
  width: fit-content;
}

.mark-heading {
  padding-top: 30px;
}

.div-button-home-page {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 2em;
  height: 1.7em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-left: 100px;
  margin-top: -23px;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.95em;
  height: 0.95em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.checkbox-table {
  margin: 0 !important;
}

.checkbox-div {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
