


html,
body {
  height: 100%;
}
body {
  height: 394px;
  margin: 0;
  background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  margin: 4vw auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1390px;


}
table {
  text-align: center;
  border-radius: 27px;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: wheat;
}

 th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}

#t-body {
  margin-bottom: 24px;
}

#input-search {
    padding-left: 10px;
  border:none;
  height: 27px;
  margin-left: 9px;
  border-radius: 7px;
  width: 312px;
  outline-offset: -50px;
}

.h4-input {
  color: wheat;
  margin-left: 20px;
}

.b-search {
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
    background-color: #55608f;
  gap: 5px;
  display: flex;
  max-width:  685px;
  align-items: center;
}

.div-button{
  display: flex;
}

.ta-button{
  margin-right: 5px;
  width: 67px;
  border-radius: 26px;
  border: none;
  height: 29px;
  background: wheat;
}